@model PROG7311_P2.Models.LoginRegisterModel
@{
    ViewData["Title"] = "Change Password";
}
<h1 style="margin-top: 2rem;">Please enter a new password.</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">New Password</label>
                <input asp-for="Password" class="form-control" type="password" required />
                <span asp-validation-for="Password" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" id="confirm_password" type="password" required class="form-control" />
                <span asp-validation-for="ConfirmPassword" id="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="submit-btns" />
            </div>
        </form>
    </div>
</div>